lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store
*.swp
*.un~

pids
logs
results

npm-debug.log

node_modules/
site/public/build

*.iml
*.ipr
*.iws
.idea/

coverage.html
.cover*

*.sublime-*
