// 
// Forms
// ==============================




// Field
// ------------------------------


// label + control

.field-label {
	color: @gray;
	line-height: @font-size-base + 3; // allows room for decenders. applied by the browser to inputs
	// padding: @field-padding-vertical @field-padding-horizontal @field-padding-vertical 0;
	width: 35%;
}

.field-control {
	line-height: @font-size-base + 3; // allows room for decenders. applied by the browser to inputs
	// padding: @field-padding-vertical 0;
	position: relative;
	width: 65%;
}


// input

.field {
	.placeholder( @field-placeholder );
	background: none transparent;
	border: 0 none;
	box-shadow: none;
	color: @field-color;
	display: inline-block;
	line-height: 1;
	outline: none;
	min-height: @font-size-base + 3;
	margin: 0;
	padding: 0;
	width: 100%;
	-webkit-appearance: none;

	// when noedit allow users to select the text
	div& {
		overflow-x: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		-webkit-touch-callout: default;
		-webkit-user-select: text;
	}
}




// Misc. Controls
// ------------------------------

.form-control-toggle {
	background-color: transparent;
	border: none;
	color: @app-primary;
	display: inline-block;
	padding: (@padding-base-vertical + 1) @padding-base-horizontal; // extra v-pixel accounts for the border on list-items
	position: absolute;
	outline: none;
	text-align: center;
	text-decoration: none;
	right: 0;
	top: 0;
	-webkit-appearance: none;
}




// Select Field
// ------------------------------

@indicator-arrow-size: 4px;
@indicator-arrow-gap:  2px;

// style the native select field whilst retaining the default behaviour
// apply default field styles

.select-field {
	.field();
	color: @text-color;
	font-size: inherit;
	font-family: @font-family-base;
	line-height: @line-height-base;
	outline: none;
	width: 100%;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;

	// Stop FF from showing that dotted outline
	// this hack makes me feel dirty :(
	&:-moz-focusring {
		color: transparent; // hide text
		text-shadow: 0 0 0 #000; // replace text with a shadow
	}
	&:focus + .select-field-indicator {
		.select-field-indicator-arrow {
			border-top-color: @gray;
		}
	}
}
// replicate the dropdown arrows
.select-field-indicator,
.select-field-indicator-arrow {
	bottom: 0;
	display: inline-block;
	right: 0;
	top: 0;
	position: absolute;
	pointer-events: none;
}

// hide the default arrow UI
.select-field-indicator {
	.border-right-radius( @border-radius-base - 2 );
	background-color: white;
	width: 1.5em;
}
// add the arrow back
.select-field-indicator-arrow {
	top: 50%;

	&:before,
	&:after {
		.square(0);
		border: @indicator-arrow-size solid transparent;
		content: "";
		position: absolute;
		right: @indicator-arrow-size / 2;
	}
	&:before {
		border-bottom-color: @field-color;
		border-top-width: 0;
		margin-top: -(@indicator-arrow-size + @indicator-arrow-gap);
	}
	&:after {
		border-top-color: @field-color;
		border-bottom-width: 0;
		margin-bottom: -(@indicator-arrow-size + @indicator-arrow-gap);
	}
}









