// 
// Type
// ==============================




// Icons
// ------------------------------

.ion:before { font-size: @ionicons-size-base; }

.ion-xs:before   { font-size: @ionicons-size-tiny !important; }
.ion-sm:before   { font-size: @ionicons-size-small !important; }
.ion-md:before   { font-size: @ionicons-size-base !important; }
.ion-lg:before   { font-size: @ionicons-size-large !important; }
.ion-xl:before   { font-size: @ionicons-size-huge !important; }
.ion-xxl:before  { font-size: @ionicons-size-massive !important; }
.ion-xxxl:before { font-size: @ionicons-size-gargantuan !important; }





// Elements
// ------------------------------

p {
	margin: 0 0 .66em;
}




// Misc
// ------------------------------

hr.dashed { border-top-style: dashed; }
hr.dotted { border-top-style: dotted; }

.text-overflow {
	.text-overflow(block);
	// line-height: 1.2; // stop the bottom/top of the text being cropped
}
.text-overflow--reverse {
	.text-overflow(block);
	// line-height: 1.2; // stop the bottom/top of the text being cropped
	direction: rtl;
    text-align: left;
}



// Feedback Message
// ------------------------------

.view-feedback {
	.v-center();
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	width: 100%;

	// whilst technically centered, looks out-of-whack because of the headerbar
	margin-top: -(@headerbar-height / 2);
}
.view-feedback-icon {
	font-size: @ionicons-size-massive;

	&.muted { color: @gray-light; }
	&.primary { color: @app-primary; }
	&.success { color: @app-success; }
	&.warning { color: @app-warning; }
	&.danger  { color: @app-danger; }
}
.view-feedback-header,
.view-feedback-subheader {
	font-weight: @font-weight-bold;
	margin-bottom: .5em;
}
.view-feedback-header {
	color: @gray;
	font-size: 1.2em;
}
.view-feedback-subheader {
	color: @gray-light;
	font-size: .8em;
	text-transform: uppercase;
}
.view-feedback-text {
	color: @gray;
}
.view-feedback-action {
	color: @link-color;
	display: inline-block;
	margin-top: 1em;
	padding: 5px;

	&.muted { color: @gray-light; }
	&.primary { color: @app-primary; }
	&.success { color: @app-success; }
	&.warning { color: @app-warning; }
	&.danger  { color: @app-danger; }
}



// Lists
// ------------------------------

.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		margin: 0;
		padding: 0;
	}
}




// Utilities
// ------------------------------

// Alignment
.text-left           { text-align: left !important; }
.text-right          { text-align: right !important; }
.text-center         { text-align: center !important; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-caps,
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Weight
.text-thin    { font-weight: 100; }
.text-slim    { font-weight: 300; }
.text-regular { font-weight: 400; }
.text-medium  { font-weight: @font-weight-bold; }
.text-bold    { font-weight: 600; }

// Typeface
.text-monospace { font-family: @font-family-monospace; }

// Transformation
.text-xs      { font-size: @font-size-tiny; }
.text-sm      { font-size: @font-size-small; }
.text-md      { font-size: @font-size-base; }
.text-lg      { font-size: @font-size-large; }
.text-huge    { font-size: @font-size-huge; line-height: 1; }
.text-massive { font-size: @font-size-massive; line-height: 1; }

// Contextual colors

.text-ghosted {
	color: @field-placeholder;
}

// muted
.text-muted,
.btn-link.text-muted {
	color: @gray-light;
}
// dim
.text-dimmed,
.btn-link.text-dimmed {
	color: @gray;
}
// base
.text-default,
.text-base,
.btn-link.text-base,
.btn-link.text-default {
	&,
	&:hover,
	&:focus,
	&:active {
		color: @text-color;
	}
}

// danger
.text-danger,
.btn-link.text-danger {
	color: @gray-light;

	&:hover,
	&:focus {
		color: @app-danger;
	}
}

// error
.text-error,
.btn-link.text-error {
	color: @app-danger;

	&:hover,
	&:focus {
		color: @app-danger;
	}
}

// other
.text-primary,
.btn-link.text-primary {
	.text-emphasis-variant(@app-primary);
}
.text-success,
.btn-link.text-success {
	.text-emphasis-variant(@app-success);
}
.text-info,
.btn-link.text-info {
	.text-emphasis-variant(@app-info);
}
.text-warning,
.btn-link.text-warning {
	.text-emphasis-variant(@app-warning);
}